@import "variables.scss";

.c-user {
  padding: 20px 20px 40px;
  background: #fff;

  .c-preloader {
    margin-top: 0;
    padding-top: 40px;
  }

  .c-product  {
    margin-top: 20px;
  }

  .msg {
    margin-top: 10px;

    a {
      margin-top: 5px;
    }
  }

  .btn {
    color: #fff;
    background: $darkBlue;
    transition: all .3s ease-in-out;
    &[disabled]:hover {
      background: $darkBlue;
    }
    &:hover {
      background: $red;
    }
  }
}
