
/*
    screen sizes
*/

$mobile: 'screen and (max-width: 480px)';
$phone: 'screen and (max-width: 767px)';
$tablet: 'screen and (max-width: 991px)';
$desktop: 'screen and (max-width: 1199px)';
$large: 'screen and (max-width: 1599px)';
$fullHD: 'screen and (max-width: 1920px)';


/*
  colors
*/

$gray: #E0E0E0;
$lightBlue: #f0f3f5;
$indigo: #67c2dc;
$orange: #fdc02f;
$blue: #c2cfd6;
$darkBlue: #546c78;
$black: #212121;
$green: #52bc77;
$darkGreen: #1B5E20;
$red: #f66d6e;